* {
	margin: 0;
	padding: 0;
}

ul li {
	list-style: none;
}

.header {
	/* position: relative !important; */
	height: 120px;
	background: yellow;
	overflow: hidden;
}

.header ul {
	margin-top: 10px;
}

.header ul li {
	margin: 10px 0;
}

.header ul .money {
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 25px;
}

.year {
	position: absolute;
	top: 10px;
	right: 10px;
}

.year span {
	padding: 6px;
	border: solid #666 1px;
	border-radius: 10px;
}

.tab {
	position: relative;
	z-index: 3;
	margin: 10px 0;
}

.tab ul {
	width: 200px;
	margin: auto;
	display: flex;
	border: solid #999 1px;
}

.tab ul li {
	padding: 5px 0;
	flex: 1;
	text-align: center;
}

.active {
	background: yellow;
}

.wrapper {
	padding-top: 180px !important;
}

.home {
	height: 100%;
}

.box {
	position: relative;
	/* width: 100%;
	height: 100%; */
	overflow: auto;
}

.bill-item {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
}

.bill-item dl {
	display: flex;
	align-items: center;
}

.bill-item dl dt {
	background: yellow;
	border-radius: 50%;
	font-size: 12px;
	padding: 4px;
	margin-right: 10px;
}

.red {
	color: red;
}

.green {
	color: green;
}

.li {
	padding-right: 10px !important;
}

#pullrefresh {
	padding-bottom: 230px;
}

.hide {
	display: none;
}

.list {
	padding-bottom: 200px;
}

.tils {
	position: fixed;
	width: 50px;
	height: 50px;
	background: yellow;
	z-index: 10;
	bottom: 50px;
	left: 50%;
	/* top: 50%; */
	transform: translate(-50%, 0);
}

.tils span {
	font-size: 50px;
}
